@using System.Diagnostics
@inherits LayoutComponentBase
@layout MainLayout

@inject IJSRuntime JSRuntime;
@inject LocalizationService LocalizationService
@inject NavigationManager NavigationManager
@inject NativeWebViewService NativeWebViewService

<div style="width: 100%; height: 100%" class="tarkov-dev-bg">
	<MudLayout>
		<MudAppBar Elevation="1" Bottom="false" Dense="true">
			<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer"/>
			@CurrentPageTitle
			<MudSpacer/>
		</MudAppBar>
		<MudDrawer Open="@drawerOpen" OpenChanged="@OnDrawerOpenChanged" Elevation="1" Anchor="Anchor.Left" Variant="@DrawerVariant.Responsive">
			<MudDrawerHeader LinkToIndex="true">
				<div>
					<img src="tarkov-dev-logo.svg" width="100%" style="vertical-align: middle;"/>
					                <MudText Align="Align.Center" Typo="Typo.h6">@LocalizationService.GetString("TarkovMonitor")</MudText>
				</div>
			</MudDrawerHeader>
			<MudNavMenu Color="Color.Secondary" Bordered="true">
				<MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Map">@LocalizationService.GetString("Maps")</MudNavLink>
                <!--MudNavLink Href="/group" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Group">@LocalizationService.GetString("Group")</!--MudNavLink-->
				<MudNavLink Href="/messages" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Message">@LocalizationService.GetString("Messages")</MudNavLink>
                <MudNavLink Href="/settings" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings">@LocalizationService.GetString("Settings")</MudNavLink>
                <MudNavLink Href="/sounds" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Speaker">@LocalizationService.GetString("Sounds")</MudNavLink>
                <MudNavLink Href="/stats" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.BarChart">@LocalizationService.GetString("Stats")</MudNavLink>
                <MudNavLink Href="/raw" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.RawOn">@LocalizationService.GetString("RawLogs")</MudNavLink>
                <MudNavLink Href="/timers" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Timer">@LocalizationService.GetString("Timers")</MudNavLink>
			</MudNavMenu>
			<div style="position: absolute; right: 0; bottom: 32px; left: 0; text-align: center;">
				<MudLink OnClick="OpenHowToUse">How To Use</MudLink>
			</div>
		</MudDrawer>
		<MudMainContent Class="mt-2">
			<CascadingValue Name="AppLayout" Value="this">
				@Body
			</CascadingValue>
		</MudMainContent>
	</MudLayout>
</div>

@implements IDisposable

@code {

	bool drawerOpen = true;

	public string CurrentPageTitle = "TarkovMonitor";

	protected override void OnInitialized()
	{
		LocalizationService.LanguageChanged += OnLanguageChanged;
		NavigationManager.LocationChanged += OnLocationChanged;
		NativeWebViewService.SetDrawerOpen(drawerOpen);
		UpdateNativeMapsVisibility();
	}

	public void SetTitle(string value) {
		CurrentPageTitle = value;
		StateHasChanged();
	}

	void ToggleDrawer()
	{
		drawerOpen = !drawerOpen;
		NativeWebViewService.SetDrawerOpen(drawerOpen);
	}

	private void OnDrawerOpenChanged(bool open)
	{
		drawerOpen = open;
		NativeWebViewService.SetDrawerOpen(open);
	}

	private void OnLanguageChanged(object? sender, EventArgs e)
	{
		InvokeAsync(StateHasChanged);
	}

	private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
	{
		UpdateNativeMapsVisibility();
	}

	private void UpdateNativeMapsVisibility()
	{
		var relativePath = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
		NativeWebViewService.SetMapsVisible(relativePath == "" || relativePath == "maps");
	}

	private void OpenHowToUse()
	{
		Process.Start(new ProcessStartInfo
		{
			FileName = "https://github.com/Mossworm/TarkovEssential/blob/master/README.md",
			UseShellExecute = true
		});
	}

	public void Dispose()
	{
		LocalizationService.LanguageChanged -= OnLanguageChanged;
		NavigationManager.LocationChanged -= OnLocationChanged;
	}
}
